doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='style.css')
        title Simple PUG File
        style.
            body {
                font-family: sans-serif;
                color: navy;
            }
    body
        h1 Simpl Pug Example
        p.text-center This is a simple paragraph
        
        h2 A Bullet List
        ul#bullets
            li one
            li two
            li three

        h2 Lorem Ipsum Text
        p
            | Est deserunt inimicus voluptatibus te, et pri cetero liberavisse. 
            | Ceteros lobortis ex eum, his bonorum epicurei ei. Alia ornatus 
            | consulatu cu sit, an quo ipsum error viderer. Sumo veniam aperiri ea 
            | nam, ne has saepe reformidans.
        p
            | Apeirian pertinax nam ex, duo homero maiestatis intellegebat ex. Laoreet 
            | insolens atomorum ea vis. No expetenda maiestatis delicatissimi vel, 
            | partem regione persius an ius. Option appetere ad sit, duo delicata 
            | postulant id. Prima scribentur no quo, vis justo omnesque imperdiet ut.


