li {
    list-style: none;
    margin: 0.5em 1em;
    font-family: sans-serif;
    font-weight: 100;
    font-variant: small-caps;
}

#user {
    width: 20em;
    text-align: center;
    border: 1px solid #777;
    border-radius: 1em;
    box-shadow: 2px 2px 5px #555;
    padding: 1em;
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
}
#user img {
    border-radius: 50%;
    border: 2px solid #555;
}
