body {
    padding: 2em;
    font-family: sans-serif;
}

.panel {
    border: 2px solid #555;
    border-radius: 1em;
    padding: 1em;
    background-color: #fefefe;
    color: #555;
    margin-top: 1em;
}

.panel h1 {
    font-weight: 600;
    font-variant: small-caps;
    text-align: center;
    margin: 0;
}

.dark {
    background-color: #555;
    color: #fefefe;
}

