
body {
    font-family: sans-serif;
}

.panel {
    border: 2px solid #555;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    padding: .5em;
    border-radius: 1em;
    box-shadow: 2px 2px 5px #555;
    color: #333;
    background-color: #fff;
}

.dark {
    background-color: #333;
    color: #fff;
}

.panel h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-variant: small-caps;
}

