body {
    padding: 2em;
}

button {
    margin: 1em;
    padding: .5em 2em;
}

.panel {
    border: 2px solid #555;
    border-radius: 1em;
    padding: 1em;
    background-color: #fefefe;
    color: #555;
}

.panel h1 {
    font-weight: 600;
    font-variant: small-caps;
    text-align: center;
    margin: 0;
}

.dark {
    background-color: #555;
    color: #fefefe;
}

.panel + .panel {
    margin-top: 1.5em;
}
