.toast {
    opacity: 0;
    position: fixed;
    top: 1em;
    right: 1em;
    
    border: thin solid #888;
    border-radius: 1em;
    box-shadow: 2px 2px 4px #999;
    z-index: 10;

    padding: 0.6em;
    font-family: sans-serif;
    font-weight: 700;
    color: #fff;

    transition: opacity ease-in-out 1s;
}

.toast--show {
    opacity: 1;
}

.toast--success {
    background-color: rgba(0, 200, 0, 0.75);
}
.toast--failure {
    background-color: rgba(200, 0, 0, 0.75);
}

button {
    padding: 0.5em 1.5em;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 200, 0.75);
    border-radius: 0.3em;
}

button:hover {
    box-shadow: 2px 2px 5px #888;
}
