body {
    font-family: sans-serif;
}

h1 {
    background-image: linear-gradient(to right, green, transparent 70%);
    color: white;
}

p {
    columns: 3;
    text-align: justify;
    font-size: 1.1rem;
    color: rgba(255,255,255,.7);
    padding: 0.5em;
    background-image: url('https://picsum.photos/id/1059/1000/1000');
    background-size: cover;
    background-repeat: no-repeat;
}
