body {
    padding: 1em;
}

h1 {
    font-family: "Faster One", cursive;
    font-size: 3rem;
    margin: 0;
}

p {
    font-family: "Shadows Into Light", cursive;
    text-align: justify;
    font-size: 1.5rem;
}
