div {
    border: .1em solid #333;
    padding: 1em;
    color: #fff;
    font-family: sans-serif;
}

div+div {
    margin-top: 1.5em;
}

.one {
    background-color: #06BB58;
}

.two {
    background-color: rgb(6, 187, 88);
}
.two:hover {
    background-color: #333;
}

.three {
    background-color: hsl(147, 94%, 38%);
}
