:root {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

article {
    border: 1px solid #ccc;
    padding: .5em;
    background-color: #ccc;
}

section {
   
}

section + section {
    margin-top: 1em;
}

section::after {
    clear: both;
    display: block;
    content: " ";
}

section > div {
    float: left;
    width: 30%;
    height: 250px;
    overflow: hidden;
    text-align: justify;
    border: 1px dotted #aaa;
    margin-right: 1em;
    padding: 0.5em;
    background-color: white;
}
