<template>
    <div id="app">
        <nav>
            <span> <img :src="logoUrl" :alt="name"> </span>
            <ul>
                <li v-for="m in menu" :key="m.name">
                    <router-link :to="{name: m.name}"> {{ m.text }} </router-link>
                </li>
            </ul>
        </nav>
        <router-view/>
    </div>
</template>

<script>
    export default {
        name: "app",

        data: () => ({
            menu: [
                {text: 'Home', name: 'home'},
                {text: 'Speed', name: 'speed'},
                {text: 'Temperature', name: 'temperature'},
            ],
            logoUrl: 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Atlas-Copco-Logo.svg/1200px-Atlas-Copco-Logo.svg.png',
            name: 'Atlas Copco',
        }),
    }
</script>

<style>
    body {
        margin: 0;
    }

    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    nav {
        padding: .2em 1em;
        background-color: #eee;
    }

    nav span {
        float: left;
    }
    nav span img {
        width: 6em;
    }

    nav ul {
        list-style-type: none;
    }

    nav li {
        display: inline-block;
        margin-left: 1em;
        margin-right: 1em;
    }


    nav a {
        font-weight: bold;
        color: #2c3e50;
        text-decoration: none;
    }

    nav a:hover {
        color: #ff8c00;
    }

    nav a.router-link-exact-active {
        color: #42b983;
    }
</style>
