<template>
    <main>
        <h1>Speed</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis dolor est et harum iure magni
            modi, nam nisi, obcaecati officia officiis provident, quam quis quo quos recusandae voluptate voluptatibus?
        </p>

        <speedometer :url="url"
                     :size="250"
                     :active="fetching"
                     :interval="interval"
                     @value="value = $event"
        ></speedometer>

        <div class="value">
            Current value: {{ value }}
        </div>
        <div class="buttons">
            <button @click="fetching = !fetching">
                {{ fetching ? 'stop' : 'start' }}
            </button>
        </div>
    </main>
</template>

<script>
    import Speedometer from '@/widgets/speedometer'
    import {backendUrl} from '@/services/back-end'

    export default {
        name: "speed",
        components: {Speedometer},
        data: () => ({
            url: backendUrl('speed'),
            fetching: false,
            value: 0,
            interval: 2000,
        })
    }
</script>

<style scoped>
    button {
        padding: .3em 1.5em;
        text-transform: uppercase;
    }
</style>
