<template>
    <div v-if="loading" class="loading">
        Loading ...
    </div>
    <canvas v-else></canvas>
</template>

<script>
    import {createTicks} from '@/services/ticks'
    import {RadialGauge} from 'canvas-gauges'

    export default {
        name: "speedometer",

        props: {
            size: {
                type: Number,
                required: false,
                default: 300
            },
            interval: {
                type: Number,
                required: false,
                default: 2000
            },
            url: {
                type: String,
                required: true,
            },
            active: {
                type: Boolean,
                required: false,
                default: false
            }
        },

        data: () => ({
            loading: true,
            chart: undefined,
            timer: undefined,
            options: {
                renderTo: null,
                width: 0,
                height: 0,
                startAngle: 45,
                ticksAngle: 270,

                units: "Km/h",
                minValue: 0,
                maxValue: 0,
                value: 0,
                valueBox: false,

                majorTicks: 0,
                minorTicks: 4,
                strokeTicks: true,
                highlights: undefined,

                colorPlate: "#fff",
                borderShadowWidth: 0,
                borders: false,

                needleType: "arrow",
                needleWidth: 2,
                needleCircleSize: 7,
                needleCircleOuter: true,
                needleCircleInner: false,
                animationDuration: 1000,
                animationRule: "linear",
            }
        }),

        watch: {
            active(newValue, oldValue) {
                if (newValue) {
                    this.start()
                } else {
                    this.stop()
                }
            }
        },

        mounted() {
            this.create()
        },

        beforeDestroy() {
            if (this.chart) {
                this.chart.destroy()
            }
        },

        methods: {
            async create() {
                this.options.width = this.size || 300
                this.options.height = this.size || 300

                const [min, max] = await this.getConfig()
                this.options.minValue = min
                this.options.maxValue = max

                this.options.majorTicks = createTicks(0, 20, max)
                this.options.highlights = [{
                    from: max - 40,
                    to: max,
                    color: 'rgba(200, 50, 50, .75)'
                }]

                this.loading = false
                const self = this
                this.$nextTick(() => {
                    self.options.renderTo = self.$el
                    self.chart = new RadialGauge(self.options)
                    self.chart.draw()
                })
            },

            async getConfig() {
                const resp = await fetch(this.url)

                if (resp.ok) {
                    const data = await resp.json();
                    return [data.min, data.max]
                } else {
                    console.error('http failed: %d %s', resp.status, resp.statusText)
                    return [0, 0]
                }
            },

            async getValue() {
                const resp = await fetch(this.url + '/value')

                if (resp.ok) {
                    const data = await resp.json();
                    this.setValue(data.value)
                } else {
                    console.error('http failed: %d %s', resp.status, resp.statusText)
                }
            },

            setValue(value) {
                this.chart.value = value
                this.$emit('value', value)
            },

            async start() {
                await this.getValue()
                this.timer = setInterval(this.getValue, this.interval)
            },

            stop() {
                if (this.timer) {
                    clearInterval(this.timer)
                    this.timer = undefined
                    setTimeout(this.setValue, 500, 0)
                }
            }
        }
    }
</script>

<style scoped>
    .loading {
        text-align: center;
        font-style: italic;
        font-weight: 200;
        font-size: 1.5em;
    }
</style>
